footer {
    margin: 0px;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(92, 89, 89, 0.63);
    background: var(--bg);
    box-shadow: 1px -1px 5px rgb(44, 43, 42);
}

