
nav > ul li {
    display: inline-block;
    justify-content: space-between; /* repartition prinicpal axe*/
    width: 300px;
    text-align: center;
    font-size: 2rem;
    background: red;
}

/* clic block and no only text*/
nav > ul a {
    display: inline-block;
    width: 100%;
    height: 100%;
    
}